*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://i.ytimg.com/vi/_vb-yIpkWqg/maxresdefault.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    /* background-size: 100%; */

}

.background{
    background-color: rgba(0, 0, 0, 0.5);
}

.header{
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
}

.header__left .left__menu{
    transform: scale(1.6);
    font-family: bold;
}

.header__left .left__logo{
    margin-left: 20px;
}

.header .header__right{
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.header__right .right__searchIcon{
    margin-right: 40px;
}

.header__right .right__options{
    transform: scale(1.4);
}


/* main page css */
.main{
    z-index: 99;
    width: 50%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
}

.main .main__heading{
    font-size: 1.2rem;
    padding-top: 50px;
}

.main__text .text__text{
    font-size: 18px;
    font-weight:lighter;
    padding-right: 100px;
}

.main .text__text h4{
    font-size: 20px;
}

.main .main__text button{
    color: white;
    padding: 8px 25px;
    background-color: rgba(34, 33, 33, 0.5);
    border: none;
    font-size: 12px;
    font-weight: 800;
    border-radius: 2px;
    margin-bottom: 20px;
}

@media(max-width:412px){
    .main{
    
        width: 100%;
    padding-left: 10px;
        
    }
    .main__text .text__text{
        padding-right: 50px;
    }
}

